# IDEs
.idea/
.vscode/

# Python & Environment
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
venv/

# Environment Variables & Secrets
.env
.env.*
*.local
secrets.json

# Planning
.planning/

# AI agents
.agents
